html {
  font-size: 16px;
  margin: 0rem;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  margin: 0rem;
}

.container {
  max-width: px;
  margin: 0 auto;
}
h1 {
  font-size: 2rem;
}

p {
  font-size: 1rem;
  color: #888888;
}

span {
  color: #888888;
}

h2 {
  font-size: 1.5rem;
}

a {
  color: #BF394B;
}

a:hover {
  color: #300000;
}

/*nav*/

.mobile-nav {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.header p {
  font-size: 1.3rem;
  text-transform: uppercase;
}

.bold {
  font-weight: 700;
}

.lite {
  font-weight: 200;
}


.head-left img {
  max-height: 3rem;
  margin-top: .5rem;
  margin-left: 1.5rem;
}

.head-left {
  display: inline-flex;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 1.5rem 1.5rem;
}

nav ul a:hover {
     color: #300000;

}


nav li {
  margin: 0 .5rem;
}

nav a {
  text-decoration: none;
}

@media only screen and (max-width: 700px) {

 .head-left {
  display: none;
}

  nav {
  display: none;
  }

  .mobile-nav {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    height: 4rem;
  }
}





/*banner*/
.banner {
  display: flex;
  background-color: #CE9A9A ;
  align-items: center;
}
.banner img {
  max-width: 60%;
  padding: 2rem 1.5rem;
  margin-right: 1.5rem;
}

.text-right h2, h1 {
  color: #300000;
}

.button {
  background-color: #300000;
  max-width: 14rem;
  padding: 1rem;
}

.button:hover {
  background-color: #BF394B;
}

.button span {
  color: white;
  width: 8rem;
  margin-left: 4.7rem;

}

.text-right {
  max-width: 25%;
}

@media only screen and (max-width: 700px) {
  .banner img {
    max-width: 100%;
    margin: 0;
    padding: 0;
  }

  .banner {
    flex-direction: column;
  }

  .text-right {
    max-width: 90%;
    margin: auto;
  }
  .button {
    margin: auto;
    max-width: 20rem;
    margin-bottom: 2rem;
  }
  .button span {
    text-align: center;
    margin-left: 7.5rem;
  }
}
/*main content*/

.main-content {
  display: flex;
}

.main-left {
  max-width: 60%;
margin: 2rem 1.5rem;

}

.main-content .main-left img {
max-width: 100%;

}

.main-left img {

}

.main-right {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  max-width: 40%;
  margin: 2rem .3rem;
}

.event-info {
  display: flex;
  align-content: center;
  border: 1px solid #d8d8d8;
}

.event-info img {
  max-width: 35%;
  height: 10rem;
  margin: 1rem;
}

.mobile-image {
  display: none;
}

.main-content a {
  text-decoration: none;
  color: #BF394B;
}

@media only screen and (max-width: 700px){

  .mobile-image {
    display: flex;
  }
    .desktop-image {
      display: none;
    }
  .main-left {
    display: none;
  }
  .main-right {
    max-width: 100%;
    flex-wrap: wrap;
    align-content: center;
    margin: auto;

  }

.event-info {
  display: block;
  max-width: 100%;
  border: none;
  margin: auto;
  padding: 1rem 0 1rem 0;
}

  .event-info img {
    max-width: 100%;
    margin:auto;

  }

  .text {
    margin: auto;
    max-width: 70%;
  }

  .event-info{
    background-color: white;
  }

}

/*grid*/

.learning {
  max-width: 100%;
  margin: auto;
 background-color: #F2D0A4;
}

.learning h1 {
  text-align: center;
  padding-top: 2rem;
}



.grid {
 display: flex;
 flex-wrap: wrap;
 padding: 0 4.5rem;

}

.block {
 max-width: 30%;
 margin: 1.33rem 1rem;
 background-color: white;
}

.block img {
 max-width: 100%;
}

.block span {
  text-transform: uppercase;
}

.block p {
  text-transform: capitalize;
}

.courses {
  margin: 1rem 1rem 1.5rem 1rem;
}

@media only screen and (max-width: 700px) {
  .learning img, .learning span, .learning p {
    display: none;
  }
  .learning h2 {
    display: inline;
  }
 .grid {
   display: block;
   padding-bottom: 1rem;
 }

 .block {
   max-width: 100%;
   padding: 1rem 0 1.5rem 0;
   margin: 1rem;
 }

 .learning i {
   padding-right: 1rem;
 }

}

/*THESIS******/

.thesis-header {
  padding: 1.5rem 0rem;
  margin: auto;
  text-align: center;
}

video {
  max-width: 100%;
}


.secondary-content {
  display: flex;
  justify-content: center;
}

.secondary-left {
  max-width: 60%;
  margin: 0rem 1.5rem;

}


.secondary-right {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  max-width: 40%;
  margin-right: .5rem;

}

.second-info {
  display: flex;
  align-content: center;

}

.second-info img {
  max-width: 35%;
  height: 10rem;
  margin: 1rem;
}

#grey {
  background-color: #CCA7AC;
}

@media only screen and (max-width: 700px) {
  .secondary-left {
    max-width: 100%;
    margin: 0;
  }

  .secondary-left p, .secondary-left h2 {
    display: none;
  }

  .secondary-right {
    display: none;
  }

}

/*footer**/


.footer {
  display: flex;
  justify-content: space-between;
  color: #D6D6D6;
  padding: 1rem 2rem;
  border-top: 1px solid #D6D6D6;
}

.footer a {
  text-decoration: none;
  color: inherit;
}
